---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
// import "../styles/global.css"; -- no longer needed

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="flex-grow">
    <Hero />
    <Features />
    <Testimonials />
    <Contact />
    {/* <Pricing /> */}
    <!-- Other sections will go here -->
  </main>
</Layout>
