---
import "../styles/global.css";
---

<!doctype html>
<html lang="ar" dir="rtl" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="وكالة مشخبط" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>مشخبط</title>
	</head>
	<body
		class="bg-black text-white font-janna antialiased"
	>
		<header class="flex justify-center p-4 md:p-6 container mx-auto">
			<a href="/" class="w-24 md:w-32">
				<img src="/mushkhbat-logo.svg" alt="مشخبط" />
			</a>
			<nav class="flex-1 flex justify-end items-center">
				<a href="/showcases" class="mx-2 hover:text-gray-200">أعمالنا</a>
			</nav>
		</header>

		<main class="py-8">
      <article class="prose prose-invert prose-lg mx-auto px-4 md:px-8 lg:px-12">
        <slot />
      </article>
    </main>

		<footer class="text-center p-8 text-gray-400">
			<div class="mb-4">
				<a href="/rss.xml" class="mx-2 hover:text-gray-200">آخر التدوينات</a>
				<a href="https://twitter.com/mushkhbat" target="_blank" class="mx-2 hover:text-gray-200">تويتر</a>
				<a href="https://github.com/mushkhbat" target="_blank" class="mx-2 hover:text-gray-200">غيت هب</a>
				<a href="https://instagram.com/mushkhbat" target="_blank" class="mx-2 hover:text-gray-200">انستاغرام</a>
			</div>
			<p>© وكالة مشخبط ٢٠٢٢ - ٢٠٢٥.</p>
		</footer>
	</body>
</html> 